[Desktop Entry]
Version=1.0
Name=Pop-Up Dialer
Comment=An application to handle tel: URIs and dial numbers
Exec=/usr/bin/python3 DEBDIALER_PATH/dialer_main.py
Path=DEBDIALER_PATH
Icon=DEBDIALER_PATH/Images/deblogo.png
Terminal=false
Type=Application
Categories=Utility;Development;
